  @layout('layouts.home')
  @section('content')
  <h1>Category: {{ category }}</h1>
@if(category && category != '')
<front-products title="Ran's Outf'ts" category="{{ category }}"></front-products>
@else
<front-products title="Ran's Outf'ts"></front-products>
@endif
  @endsection
