<!DOCTYPE html>
<html lang="en">
<body>
  <div id="app">
      {{ csrfField() }}
  @include('layouts.head')
  @include('layouts.header')
  <product-slider></product-slider>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <side-nav></side-nav>
        </div>
      <div class="col-sm-9 padding-right">
        @!section('content')
      </div>
    </div>
  </section>

  @include('layouts.contact')
  @include('layouts.footer')
  </div>
  @include('layouts.scripts')

  </body>
</html>
