<!DOCTYPE html>
<html lang="en">
<body>
  @include('layouts.head')
  @include('layouts.header')
  @include('layouts.slider')
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          @include('layouts.sideMenu')
        </div>
      <div class="col-sm-9 padding-right">
        @!section('content')
      </div>
    </div>
  </section>

  @include('layouts.contact')
  @include('layouts.footer')
  @include('layouts.scripts')

  </body>
</html>
